<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Registro de restaurantes</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Foodstar - Registro de restaurantes" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>

				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:commandButton action="#{beanIndexUsuario.actionCerrarSesion()}"
						value="Cerrar sesión" icon="fa fa-sign-out"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<h:form id="formDatos">
				<p:panel header="Formulario">
					<p:panelGrid columns="3">
						<h:outputText value="Nombre:"></h:outputText>
						<p:inputText value="#{beanRegistrarRestaurantes.nombre}" />
						<h:outputText></h:outputText>

						<h:outputText value="Descripción:"></h:outputText>
						<p:inputText value="#{beanRegistrarRestaurantes.descripcion}" />
						<h:outputText></h:outputText>

						<h:outputText value="Dirección:"></h:outputText>
						<p:selectOneMenu
							value="#{beanRegistrarRestaurantes.callePrincipal}">
							<f:selectItems value="#{beanRegistrarRestaurantes.direcciones}"
								var="c" itemLabel="#{c.callePrincipal} y #{c.calleSecundaria}"
								itemValue="#{c.callePrincipal}"></f:selectItems>
						</p:selectOneMenu>
						<p:commandButton value="Registrar nueva dirección"
							oncomplete="PF('dlgEdicion').show();" update=":formEdicion"></p:commandButton>

						<h:outputText value="Imagen inicial:"></h:outputText>
						<p:inputText value="#{beanRegistrarRestaurantes.imagenInicial}" />
						<h:outputText
							value="Este campo es opcional o puede registrarlo despues"></h:outputText>

						<h:outputText value="Descripcion de la imagen inicial:"></h:outputText>
						<p:inputText
							value="#{beanRegistrarRestaurantes.descripcionImagen}" />
						<h:outputText
							value="Este campo es obligatorio si ha llenado el campo de imagen inicial"></h:outputText>
					</p:panelGrid>
					<br />
					<p:commandButton value="Registrar restaurante"
						actionListener="#{beanRegistrarRestaurantes.actionListenerRegistrarRestaurante()}"
						update="@form"></p:commandButton>
				</p:panel>
			</h:form>
		</div>

		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center">
			<h1>Pie de página</h1>
		</div>
	</div>

	<!-- Sección de dialogos y mensajes de confirmacion -->
	<p:dialog header="Registrar nueva dirección" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:panelGrid columns="2">
				<h:outputText value="Calle principal:" />
				<p:inputText
					value="#{beanRegistrarRestaurantes.nuevaCallePrincipal}"
					required="true" requiredMessage="Debe ingresar una calle principal"></p:inputText>

				<h:outputText value="Calle secundaria:" />
				<p:inputText
					value="#{beanRegistrarRestaurantes.nuevaCalleSecundaria}"
					required="true"
					requiredMessage="Debe ingresar una calle secundaria"></p:inputText>
			</p:panelGrid>
			<br />
			<p:commandButton value="Registrar dirección" icon="fa fa-save"
				actionListener="#{beanRegistrarRestaurantes.actionListenerRegistrarDireccion()}"
				update=":formDatos, @form"></p:commandButton>
		</h:form>
	</p:dialog>
</body>
</html>
