<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Registro</title>
</h:head>
<body style="background-color: #C0C0C0;">
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<!-- Sección -->
	<div align="center" class="ui-g">

		<!-- Sección superior de menús y titulos -->
		<div class="ui-g-12" align="right" style="background-color: #696969;">
			<!-- Sección de titulos y logo -->
			<div class="ui-g-2" align="left">
				<h:outputText value="Registro - Foodstar" />
			</div>

			<!-- Sección superior de menús de interactividad -->
			<div class="ui-g-7" align="left">
				<h:form>

				</h:form>
			</div>

			<!-- Sección superior de menús de cerrado de sesión y otros -->
			<div class="ui-g-3" align="right">
				<h:form>
					<p:commandButton action="#{beanIndex.actionIniciarSesion()}"
						value="Regresar" icon="fa fa-sign-in"></p:commandButton>
					<p:commandButton action="#{beanIndex.actionIniciarSesion()}"
						value="Iniciar sesion" icon="fa fa-user-plus"></p:commandButton>
				</h:form>
			</div>
		</div>

		<!-- Sección central -->
		<div class="ui-g-12">
			<p:panel header="Formulario de registro">
				<h:form>
					<p:panelGrid columns="2">
						<h:outputText value="Nombre de usuario:" />
						<p:inputText value="#{beanRegistro.username}"></p:inputText>

						<h:outputText value="Correo electrónico:" />
						<p:inputText value="#{beanRegistro.correoElectronico}"></p:inputText>

						<h:outputText value="Contraseña:" />
						<p:password value="#{beanRegistro.contrasenia}"></p:password>
						
						<h:outputText value="Nombre"></h:outputText>
						<p:inputText value="#{beanRegistro.nombre}"></p:inputText>
						
						<h:outputText value="Nombre"></h:outputText>
						<p:inputText value="#{beanRegistro.apellido}"></p:inputText>
					</p:panelGrid>
					<br/>
					<p:commandButton value="Registrar" icon="fa fa-save" actionListener="#{beanRegistro.actionListenerRegistrarUsuario()}"></p:commandButton>
				</h:form>
			</p:panel>
		</div>

		<!-- Sección Inferior -->
		<div class="ui-g-12" align="center"></div>
	</div>
</body>
</html>
